body {
   font-family: "Roboto", sans-serif;
   margin: 0;
}

.color {
   color: rgba(34, 34, 180, 0.623);
}

h1 {
   font-size: 50px;
}

h2 {
   font-size: 50px;
}

.first-section {
   background-image: url(images/shapes/Group\ 8446.png);
   background-repeat: no-repeat;
   margin-bottom: 100px;
}

.half-width {
   width: 50%;
   padding-top: 5%;
   padding-left: 6%;
   margin-bottom: 5%;
}
.half-width p {
   color: white;
}

.half-width img {
   width: 105%;
}
.flexible-container {
   display: flex;
}
.link-button {
   text-decoration: none;
   background-image: linear-gradient(orange, tomato);
   padding: 12px 40px;
   font-weight: 700;
   color: white;
   border-radius: 50px;
}

.second-section {
   background-image: url(images/shapes/7.png);
   background-repeat: no-repeat;
   background-size: 100% 100%;
}

#adjust-img {
   width: 80%;
   padding-left: 25%;
}
#change-color-section-two {
   padding-right: 25%;
   color: black;
   margin-bottom: 10%;
}
